/**
 * mini_blog.css
 * 
 * Admin panels styles
 * 
 * @author volter9
 * @package mint
 */

/**
 * Editor
 */

.m-editor {
    font-size: 0px;
    z-index: 10;
    
    padding-top: 1px;
    padding-right: 1px;
}

.m-button {
    background-color: transparent;
    border: 0px;
    color: #222;
    cursor: pointer;
    font-family: sans-serif;
    font-size: 14px;
    text-align: center;
    
    display: inline-block;
    padding: 8px;
    min-width: 2.5em;
}

.m-button:hover {
    border: 0px;
    color: #666;
}

.m-editor.m-dynamic {
    position: absolute;
    top: 0px;
    right: 0px;
}

/**
 * Panel
 */

.m-panel {
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 8px;
    
    padding: 0px;
}

.m-panel .m-button {
    border-right: 1px solid #ddd;
}

.m-panel .m-button.last {
    border-right: 0px;
}

#m-panel {
    font-size: 0px;
    
    position: fixed;
    top: 10px;
    right: 10px;
}

/**
 * Editable stuff
 */

.m-hidden {
    display: none;
}

.m-anchor .m-field {
    background-color: transparent;
    border: 0px;
    box-sizing: border-box;
    outline: none;
    text-align: left;
    
    display: block;
    margin-bottom: 12px;
}

.m-input-field {
    font-family: inherit;
    font-size: 16px;
    line-height: 1.375em;
    
    width: 100%;
}

.m-text-field {
    font-family: inherit;
    font-size: 16px;
    line-height: 1.5em;
    
    height: 300px;
    max-width: 100%;
    width: 100%;
}

.m-anchor {
    position: relative;
    left: 0px;
    top: 0px;
    
    min-height: 34px;
}

.m-editing {
    z-index: 9000;
}

/**
 * Visibility of buttons
 */

.m-anchor .m-editor {
    visibility: hidden;
}

.m-anchor:hover .m-editor,
.m-editing .m-editor {
    visibility: visible;
}

/**
 * Overlay styles
 */

.m-overlay {
    background-color: rgba(255, 255, 255, 0.85);
    
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 8999;
}

.m-overlay.m-dark {
    background-color: rgba(0, 0, 0, 0.5);
}

/**
 * Login form
 */

.m-login {
    background-color: transparent;
    border: 0px;
    cursor: pointer;
    font-size: 14px;
    opacity: 0.2;
    
    position: absolute;
    bottom: 0px;
    right: 0px;
    
    padding: 8px;
}

.m-login:hover {
    opacity: 0.5
}

.m-login-form {
    background-color: #fff;
    border-radius: 8px;
    
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 9001;
    
    height: 220px;
    margin-top: -110px;
    margin-left: -230px;
    padding-top: 40px;
    padding-left: 60px;
    padding-right: 60px;
    width: 460px;
}

.m-login-form h2 {
    font-size: 20px;
}

.m-login-password {
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
    outline: none;
    
    margin-top: 8px;
    padding: 8px;
    width: 100%;
}

.m-login-password:focus {
    border: 1px solid #0af;
}

.m-login-submit {
    background-color: #26f;
    border-radius: 4px;
    border: 0px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    
    margin-top: 12px;
    padding: 8px 16px;
}

.m-login-submit:hover {
    background-color: #06e;
}