/**
 * mini_blog.css
 * 
 * Admin panels styles
 * 
 * @author volter9
 * @package mint
 */

/**
 * Editor
 */

.m-editor {
    font-size: 0px;
    z-index: 10;
    
    padding-top: 1px;
    padding-right: 1px;
}

.m-button {
    background-color: transparent;
    border: 0px;
    color: #000;
    cursor: pointer;
    font-size: 14px;
    
    display: inline-block;
    padding: 8px;
    min-width: 2.5em;
}

.m-editor.m-dynamic {
    position: absolute;
    top: 0px;
    right: 0px;
}

/**
 * Panel
 */

.m-panel {
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 8px;
    
    padding: 0px;
}

.m-panel .m-button {
    border-right: 1px solid #ddd;
    color: #333;
}

.m-panel .m-button.last {
    border-right: 0px;
}

#m-panel {
    font-size: 0px;
    
    position: fixed;
    top: 10px;
    right: 10px;
}

/**
 * Editable stuff
 */

.m-hidden {
    display: none;
}

.m-anchor .m-field {
    background-color: transparent;
    border: 0px;
    box-sizing: border-box;
    outline: none;
    text-align: left;
    
    display: block;
    margin-bottom: 12px;
}

.m-input-field {
    font-family: inherit;
    font-size: 16px;
    line-height: 1.375em;
    
    width: 100%;
}

.m-text-field {
    font-family: inherit;
    font-size: 16px;
    line-height: 1.5em;
    
    height: 300px;
    max-width: 100%;
    width: 100%;
}

.m-anchor {
    position: relative;
    left: 0px;
    top: 0px;
    
    min-height: 34px;
}

.m-editing {
    z-index: 9000;
}

/**
 * Visibility of buttons
 */

.m-anchor .m-editor {
    visibility: hidden;
}

.m-anchor:hover .m-editor,
.m-editing .m-editor {
    visibility: visible;
}

/**
 * Overlay styles
 */

.m-overlay {
    background-color: rgba(255, 255, 255, 0.85);
    
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 8999;
}